<h1> Welcome to Home Page </h1>
<%= button_to 'Article Listing', articles_path, method: :get %>
<%= button_to 'About Page', about_path, method: :get %>
<td><%= button_to 'Sign Up!', signup_path, method: :get %></td>
